h1 {
	color :red;
}
h2 {
	font-family :arial;
}

p {
	font-family :trebuchet;
}
div {
	background-color :blue;
}

html {
	background-color :pink;
}

.nätti {
	text-align :center;
}

#laatikko {
	border :10px solid yellow;
}

img {
	float :right;
}