h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #0C0F0A;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: #0C0F0A;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #0C0F0A;
}


main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url("kuvat/jungle.jpg");
}

body { 
	max-width: 1400px;
	margin: auto;
}

header {
	width: 100%;
	background-color: #FFAA5A;
	margin: 20px;
	padding: 10px;
	border: 2px solid;
	box-shadow: 0px 2px 10px rgba(0,0,0,50%); 
}

article {
	max-width: 400px;
	background-color: #CBFF8C;
	margin: 20px;
	padding: 10px;
	border: 2px solid;
	box-shadow: 0px 2px 10px rgba(0,0,0,50%); 
	padding-bottom: 50px;
}

nav {
	background-color: #CBFF8C;
	margin: 20px;
	padding: 10px;
	border: 2px solid;
	box-shadow: 0px 2px 10px rgba(0,0,0,50%); 
}

footer{
	background-color: #FFAA5A;
	width: 100%;
	margin: 20px;
	padding: 10px;
	border: 2px solid;
	box-shadow: 0px 2px 10px rgba(0,0,0,50%); 
}

.kysely {
	max-width: 600px;
}

.article-image { 
    max-width: 100%;
}

.button {
	background-color: pink;
	color: black;
	bottom: 30px;
	box-shadow: 0px 2px 10px rgba(0,0,0,50%);
}

.button:hover { 
	
	color: pink; 
	background: black; 
	
}

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
  main{
	  width: 100%;
  }
}

#grad {
  background-image: linear-gradient( to bottom right, #CBFF8C, #FFAA5A);
}